[submodule "vendor/neo4j-javascript-driver"]
	path = vendor/neo4j-javascript-driver
	url = https://github.com/neo4j/neo4j-javascript-driver
[submodule "vendor/vis"]
	path = vendor/vis
	url = https://github.com/almende/vis.git
